#nav-bar{
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    position: sticky;
    top: 0;
    color:blue;
    z-index: 100;
    background-color: lavender;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  #chat-container {
    width: 100%; 
    /* background-image: linear-gradient(to right, rgba(237, 155, 125, 0.789), rgba(237, 155, 125, 0.258)); */
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid tomato;
    border-radius: 10px;
    margin-top: 2%;
    height: 500px;
    border: 1px solid #ccc;
    overflow-y:scroll; /* Add overflow-y property to enable vertical scrolling */
  }
  
  /* Adjust the width of the user input */
  #user-message {
    flex-grow: 1;
    padding: 2%;
    border-radius: 20px;
    border: 2px solid tomato;
    width: 70%; /* Adjust the width as needed */
    height: 50px;
    margin-left: 30px;
  }
  
  #main-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 2%;
  }
  
  button[type="submit"] {
  padding: 10px;
  border-radius: 10px;
  color:rgb(34, 30, 101);
  background-color: rgb(135, 143, 211);
  border: 2px solid rgb(65, 45, 134);
  font-size: 1rem;
  margin-top: -10%;
  font-weight: bold;
  }
  
  button[type="submit"]:hover {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(67, 61, 187, 0.429);
  color: rgb(253, 250, 249);
  border: 2px solid rgba(40, 65, 137, 0.584);
  font-size: 1rem;
  margin-top: -10%;
  font-weight: bold;
  }
  
  .user-message{
    font-family: "Nunito", sans-serif;
    background-color: rgba(216, 46, 12, 0.542);
    /* light color */
    text-align: left;
    /* changed text align to left */
    padding: 10px;
    /* added padding */
    color: white;
    width: fit-content;
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    align-items: center;
    font-style: italic;
    border-radius: 20px 15px 0px 20px;
    word-wrap: break-word; /* Add word-wrap property to wrap long messages */
  }
  
  .bot-message {
    font-family: "Nunito", sans-serif;
    background-color: rgba(224, 142, 126, 0.647);
    /* light color */
    text-align: left;
    /* changed text align to left */
    padding: 10px;
    /* added padding */
    color: white;
    float:left;
    width: fit-content;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    align-items: center;
    font-style: italic;
    border-radius: 20px 15px 0px 20px;
    word-wrap: break-word; /* Add word-wrap property to wrap long messages */
  }
  
  .user-message img,
  .bot-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
  #chat-window {
  width: 90%;
  }
  }
  .main-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: cursive;
  margin-bottom: 0.5rem;
  color: white;
  margin-top: 2%;
  background-color: rgba(37, 70, 181, 0.619);
  font-weight: bold;
  border-radius: 5px;
  width:100%;
  }

  img{
    width:100%;
    height:250px;
    border-radius: 50%;
  }
  footer {
    background-color:#26263e; 
    position: relative;
    bottom: 0;
    width: 100%;
    color:white;
    max-height: fit-content;
    padding: 20px 0;
    margin-top: -2%;
}
footer ul {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer ul li {
    list-style: none;
}

footer ul li a {
    width: 50px;
    height: 50px;
    background-color: #fcf8f8;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin: 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #121111;
    z-index: 1;
}

footer ul li a i{
    position: relative;
    color: #101011;
    transition: .5s;
    z-index: 3;
}

footer ul li a i:hover{
    color: #fff;
}

footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

footer ul li a:hover:before {
    top: 0;
}

footer ul li:nth-child(1) a:before {
    background: #3b5999;
    color:white
}

footer ul li:nth-child(2) a:before {
    background: #55acee;
}

footer ul li:nth-child(3) a:before {
    background: #0077b5;
}

footer ul li:nth-child(4) a:before {
    background: #dd4b39;
}
