<!DOCTYPE html>
<html>
<head>
    <title>Chat Bot</title>
    <link rel="stylesheet" href="static/CSS/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      <!-- <link rel="stylesheet" type="text/css" href="static/CSS/index.css" /> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
</head>
<body style="background-color:lavender">
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: hsla(250, 42%, 62%, 0.76);">
          <div class="container-fluid">
            <!-- <img src="" alt="logo"
                style="height:50px;width:80px">&nbsp;<h1 style="color:white;">-->
                  <h1>Life Assistant</h1> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto" style="float:right;">
                <li class="nav-item">
                  <a class="nav-link active" style="color:white;font-size:18px" href="#">Home</a>
                </li>
                <li><a class="nav-link active" style="color:white;font-size:18px" href="#">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
      <section id="banner">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="main-title">Welcome to Listener</div>
              <div id="chat-container"></div>
              <input type="text" id="user-message" placeholder="Place your order here..." autofocus />
              <button id="send-button" type="submit"><i class="fa fa-paper-plane fa-lg"></i></button>
              <button type="submit" id="startButton"><i class="fa fa-microphone fa-lg"></i></button>
              <button type="submit" id="stopButton"><i class="fa fa-microphone-slash fa-lg" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i></button>
            </div>

            <div class="col" style="margin-top:5%;">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">
                      <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                    </div>
                    <div class="col">
                      <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                    </div>
                   </div>
                   <br>
                   <div class="row">
                    <div class="col">
                      <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                    </div>
                    <div class="col">
                      <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                    </div>
                   </div>
                </div>
                
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                     </div>
                     <br>
                     <div class="row">
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                     </div>
                  </div>

                  <div class="carousel-item">
                    <div class="row">
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                     </div>
                     <br>
                     <div class="row">
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                      <div class="col">
                        <img src="https://www.verywellmind.com/thmb/7Dru6KJFTj6qIQdAAot0ACE3UM8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Mental-health-strategies-with-Asian-origins-FINAL-184eb30f4399444599889a0fdc496744.png" width="100%">
                      </div>
                     </div>
                  </div>
                  
                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                </div>
           </div>
        </div>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
 <script src="static/JS/app.js"> </script>
</body>
</html>
